.centrado {
    text-align: center;
    background-color: #c6b5e2;
    color: rgb(255, 255, 255);
}
.centrado1 {
    text-align: center;
}
h2 {
    color: #49395a;
}
.body {
    background-color: #8b898f;
}
.foto {
    display: flex;
    align-items: flex-start;
}
.texto {
    margin-right: 300px;
}
.foto img {
    max-width: 100%;
    height: 150;
    width: 200; 
}
h3 + p {
    margin: auto; 
}
h3 {
    padding: 10px; 
}